

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple: rgb(88, 77, 88)!important;
  --lightblue: lightcyan !important;
  --charcoal: #333 !important;
}

body {
  font-family: Open Sans;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.btns_more {
  background: transparent;
  border: 1px solid var(--lightblue);
  border-radius: 50px;
  padding: 8px 12px;
  color: var(--charcoal);
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp .8s ease-in-out  forwards 1s;
}


.content {
  height: 2000px;
  padding: 50px 0;
  background-color: var(--purple);
  background-size: cover;
}

.content h2,
.content p {
  width: 60%;
  margin: 0 auto;
}


.container {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  background-color: var(--purple);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .8s ease;
}

.container_content {
 width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}   
    
.container_img {
  width: 70%;
  height: 75%;
  animation: expand 1.5s ease forwards;
}

h2 {
  color: var(--lightblue);
  font-size: 3rem;
  text-align: center;
} 

.par {
  height: auto;
  overflow: hidden;
}

p {
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}


.title {
  overflow: hidden;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--lightblue);
}

.project-title {
  text-align: center;
  margin-top: 5%;
  font-size: 36px;
  font-weight: bold;
  color: lightskyblue;
  padding: 3%;
}

.images {
  max-width: 1000px;
  min-width: 800px;
  border: solid 10px ; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10%;
}

.code, .weather, .parks {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 5% 5% 5% 5%;
  border: solid white 3px;
} 

.my-titles {
  color: lightskyblue;
  justify-content: center;
  text-align: center;
}


a:hover { 
text-decoration: none; 
}

a:active { 
text-decoration: none; 
}

.in-market {
display: flex;
flex-direction: column;
justify-content: center;
max-width: 35%;
align-items: center;
margin-left: 33%;
}

.nav-projects {
display: flex;
flex-direction: row;
margin-left: 5%;
}


ul.nav-projects {
list-style-type: none;
align-items: center;
}   */


h1 {
    font-size: 40px;
    color: var(--charcoal);
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
}

p {
  color: white;
  font-size: 26px;
  display: block;
  text-align: center;
  padding-bottom: 3%;
}

img {
display: block;
align-items: center;
margin-top: 0%;
height: 65%;
width: 25%;
}

.wood {
display: block;
align-items: center;
width: 100%;
}


.topnav a {
  background-color: var(--purple);
  line-height: 28px;
  /* transform: translateY(300px); */
  animation: slideDown .8s ease-in-out forwards .8s;
}
/* 
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
} */

.topnav a:hover {
  background-color: var(--lightblue);
  opacity: 65%;
  color: var(--purple);
}

.active {
  background-color: var(--charcoal);
  color: white;
  font-family: 'Open Sans', 'sans-serif';
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
display: flex;
flex-direction: row;
align-items: center;
min-width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-size: 34px;
  text-align: center;
  padding-top: 5%;
  padding-right: 42%;
}

.flex-item {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: nowrap;
color: aliceblue;
margin-right: 48%;
}

.page-footer {
text-align: center;
}

footer.page-footer {
  margin-left: 30%;

}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
